/*@import url(http://fonts.googleapis.com/css?family=Bonbon);*/
/*@import url(http://fonts.googleapis.com/css?family=Faster+One);*/
@import url(http://fonts.googleapis.com/css?family=Finger+Paint);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
    background: url(http://animatron.com/assets/images/landing/bg_ipad.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    color: #F9F9F9;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}


/*=======================================================*/
/* Bars
/*=======================================================*/
#bars {
    height:100%;
    overflow: hidden;
    white-space: nowrap;
    padding: 0px;
    margin: 0px;
    font-size: 0;
}

.bar {
    display:inline-block;
    height:100%;
    font-size: 12px;
    vertical-align: top;
    text-align: center;
}

.bar.left {
    /*background-color: #B72F3D;*/
    background-color: rgba(0,0,0,.2);
    width: 100%;
}
.bar.middle {
    /*background-color: #C24752;*/
    background-color: rgba(0,0,0,.1);
}
.bar.right {
    /*background-color: #B32323;*/
    background-color: rgba(0,0,0,.3);
}


.bar.visible {

}

.bar.active {

}
.bar h2 {
    margin:10px;
    margin-top: 50px;
    font-size: 30px;
}


/*=======================================================*/
/* Dropdown and Chat Toggles
/*=======================================================*/
.dropdown {
    background-color: #0B1522;
    position: absolute;
    width:100%;
    height: 0%;
    text-align: center;
    overflow: hidden;
    z-index: 10;
}
.dropdown {
    height:0%;
}
.dropdown.active {
    height:40%;
}
.dropdown.fullscreen {
    height: 100%;
}

#dropdownToggle {
    right:10px;
}
#chatToggle {
    bottom:0px;
    right:10px;
}
.toggle {
    background-color: #0B1522;
    color: #DDD;
    position: absolute;
    padding: 10px 30px;
    text-align: center;
    z-index: 10;
    font-weight: bold;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.toggle:hover {
    cursor:pointer;
    color: #F9F9F9;
}


/*=======================================================*/
/* Messaging
/*=======================================================*/
#message-box {
    width: 470px;
    margin: 0 auto;
    position: absolute;
    bottom: 0px;
    right: 150px;
    background-color: #EEE;
    text-align: center;
    z-index: 8;

    height: 0px;
}
#message-box textarea {
    margin-top:5px;
    width: 95%;
    height:250px; 
    resize: none;
    font-family: 'Open Sans', sans-serif;
}
#input-message {
    width: 95%;
}
.helper-text {
    font-size: .7em;
    color: #444444;
}
#message-box.active {
    height: 330px;
}

#chatToggle {
    z-index: 8;
}


/*=======================================================*/
/* Game Gallery
/*=======================================================*/
#gallery-container {
    margin: 50px auto 10px auto;
    width: 100%;
    white-space: normal;
}
ul#gallery {
    margin: 0;
    padding: 0;
    margin: 5px 2%;
    text-align: center;
}

ul#gallery li {
  display: inline-block;
  padding: .3em;
  background-color: rgba(33, 50, 65, 0.9);
  margin: .5em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align: center;
  cursor:pointer;
  vertical-align: top;

  width:200px;
  height: 200px;
}/*
ul#gallery li {
    background-color: rgba(230,230,230,0.7);
    background-image: url('http://placedog.com/250/250');
    margin: 5px;
    text-align: center;
    position: relative;

    display: inline-block;
    vertical-align: bottom;
    width:250px;
    height:250px;
    cursor:pointer;
}*/

ul#gallery li .game-title {
    margin: .3em auto;
    font-size: 2em;
}

.game-info {
   /* position: absolute; 
    bottom: 0; 
    left: 0;*/
    width:100%;
    height:100%;
}

.game-info h4 {
    vertical-align: middle;
}

span.extra {
    display: none;
}

ul#gallery li.dullify {
    display:none;
}
.active div ul#gallery li.dullify {
    opacity: .7;
    display: inline-block;
}


/*=======================================================*/
/* User List
/*=======================================================*/
ul#user-list  {
    vertical-align: top;
    margin: 0 auto;

    padding: 0px 0px;
    margin: 0px auto;
    overflow-y: auto;
    width:70%;
}
.user {
    list-style-type: none;
    padding: 10px 5px;
    font-size: 1.2em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 10px;
    background-color: rgba(33, 50, 65, 0.6);
    cursor: pointer;
}
.user:hover {
    background-color: rgba(33, 50, 65, 0.8);
    background-image: url(../assets/checkmark-fade.png);
    background-repeat: no-repeat;
    background-position: 5% 50%;
}
.user.selected {
    color: #F3F3F3;
    background-color: rgba(33, 50, 65, 0.9);
    background-image: url(../assets/checkmark.png);
    background-repeat: no-repeat;
    background-position: 5% 50%;
}
.user.accepted {
    color: #F3F3F3;
    background-color: rgba(33, 50, 65, 0.9);
    background-image: url(../assets/checkmark-green.png);
    background-repeat: no-repeat;
    background-position: 5% 50%;
}


/*=======================================================*/
/* Game Session Page
/*=======================================================*/
#session-page {
    display:none;
}
#session-page.rendered {
    display:inline-block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #F4F5FB;
    width:100%;
    height:100%;
    vertical-align: top;
    text-align: center;
    z-index: 1;

    background: url(http://animatron.com/assets/images/landing/bg_ipad.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#session-page.rendered h1 {
    color:#F4F3F4 !important;
}

/*=======================================================*/
/* Player Icons
/*=======================================================*/
#playerIcons {
    text-align: center;
    /*font-family: 'Bonbon', sans-serif;*/
}

.playerIcons div.illuminate {
    width: 50%;
}
.playerIcons div.dullify {
    display:none;
}
.playerIcon {
    font-size: 2em;
    padding: .2em .1em;
    background-color: #B72F3D;
    width: 10%;
    margin: .1%;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    cursor: pointer;

    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.active .playerIcons div.dullify {
    opacity: .7;
    display: inline-block;
}
.active .playerIcons div.illuminate {
    width: 10%;
}


.playerIcon#singlePlayer {
    background-color: #25A0BB;
}
#chat-message {
    width: 95%;
    font-family: 'Open Sans', sans-serif;
}
.playerIcon#multiPlayer {
    background-color: #B32323;
}
.playerIcon.disabled {
    background-color: #AAA !important;
}
.playerIcon.selected {
    border: 2px solid black;
}


/*=======================================================*/
/* Buttons!
/*=======================================================*/
button {
    -moz-box-shadow:inset 0px 1px 0px 0px #FFF;
    -webkit-box-shadow:inset 0px 1px 0px 0px #FFF;
    box-shadow:inset 0px 1px 0px 0px #FFF;

    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #EDEDED), color-stop(1, #DFDFDF) );
    background:-moz-linear-gradient( center top, #EDEDED 5%, #DFDFDF 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEDED', endColorstr='#DFDFDF');
    background-color:#EDEDED;

    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #DCDCDC;

    display:inline-block;
    color:#333;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-shadow:1px 1px 0px #FFF;
    margin: 1em;
    cursor: pointer;
}
button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #DFDFDF), color-stop(1, #EDEDED) );
    background:-moz-linear-gradient( center top, #DFDFDF 5%, #EDEDED 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#DFDFDF', endColorstr='#EDEDED');
    background-color:#DFDFDF;
}
button:active {
    position:relative;
    top:1px;
}

/*=======================================================*/
/* Popups!
/*=======================================================*/
div.curtain {
    background-color: rgba(0,0,0,.7);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%
}
.curtain .popup {
    background-color: #EFEFEF;
    color: #333;
    text-align: center;
    margin: 10% auto;
    padding: 5px;

    width: 25%;
    height: 25%;
    min-width: 300px;
    min-height: 150px;
}


/*=======================================================*/
/* Canvas
/*=======================================================*/
canvas#game-canvas:focus {
    outline: 0;
}

canvas + .canvas-overlay {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    display: table; 
    position: static;
}

.centered-element {
    display: table-cell; 
    vertical-align: middle; 
    width: 100%; 
    position: static;
}